PORT=3001
SECRET_KEY=md-test-secret-key

SMTP_TLS=true
SMTP_PORT=8000
SMTP_HOST=smtp.qq.com
SMTP_USER=hello@qq.com
SMTP_PASSWORD=abcdefghigk
EMAILS_FROM_EMAIL=hello@qq.com
EMAILS_FROM_NAME=MDPRESS Admin
DATABASE_URL="file:./database.sqlite"
TWIKOO_ENV_ID="https://your-twikoo-service.example.com"

BAIDU_API_KEY=你的API_KEY
BAIDU_SECRET_KEY=你的SECRET_KEY
