@font-face {
  font-family: "iconfont"; /* Project id 4227162 */
  src: url('https://at.alicdn.com/t/c/font_4227162_4oipkq7kqoo.woff2?t=1722836399554') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4227162_4oipkq7kqoo.woff?t=1722836399554') format('woff'),
       url('https://at.alicdn.com/t/c/font_4227162_4oipkq7kqoo.ttf?t=1722836399554') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-badge:before {
  content: "\f3bd";
}

.icon-yiwancheng:before {
  content: "\e60c";
}

.icon-icon-48-mulushu:before {
  content: "\e626";
}

.icon-flowChart:before {
  content: "\e640";
}

.icon-heisemoshi:before {
  content: "\e73b";
}

.icon-excel:before {
  content: "\ea45";
}

.icon-Excel:before {
  content: "\e629";
}

.icon-dayin:before {
  content: "\e841";
}

.icon-_huaban:before {
  content: "\e843";
}

.icon-erweima:before {
  content: "\e636";
}

.icon-mulu1:before {
  content: "\e60f";
}

.icon-swiper:before {
  content: "\e613";
}

.icon-shouyelunbotu:before {
  content: "\e628";
}

.icon-tupianlunbo:before {
  content: "\e656";
}

.icon-lunbotu:before {
  content: "\e67a";
}

.icon-naotu:before {
  content: "\e694";
}

.icon-wangyelianjie:before {
  content: "\e8af";
}

.icon-iframe:before {
  content: "\e621";
}

.icon-html:before {
  content: "\e6a0";
}

.icon-pos_nav_icon_implements:before {
  content: "\e663";
}

.icon-github:before {
  content: "\e85a";
}

.icon-pifuzhuti-xianxing:before {
  content: "\e91e";
}

.icon-zhuti_tiaosepan_o:before {
  content: "\eb6e";
}

.icon-huidaodingbu:before {
  content: "\e631";
}

.icon-daoruwenjian:before {
  content: "\e650";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-cebianlanneirong:before {
  content: "\e749";
}

.icon-mulu:before {
  content: "\e608";
}

.icon-fujian1:before {
  content: "\e605";
}

.icon-baocun1:before {
  content: "\e936";
}

.icon-code:before {
  content: "\e615";
}

.icon-file-markdown1:before {
  content: "\e95e";
}

.icon-m-geshihuawenzi:before {
  content: "\e7f8";
}

.icon-bootstrap_tabs:before {
  content: "\e6a4";
}

.icon-fujian:before {
  content: "\e602";
}

.icon-baocun:before {
  content: "\e60e";
}

.icon-js:before {
  content: "\e65d";
}

.icon-Artboard:before {
  content: "\e737";
}

.icon-liuchengtu:before {
  content: "\e610";
}

.icon-xuekegongshiku_Char-rm-uk:before {
  content: "\e6ae";
}

.icon-renwuliebiao:before {
  content: "\e60b";
}

.icon-wodezhuanti:before {
  content: "\e971";
}

.icon-093info:before {
  content: "\e664";
}

.icon-emoji:before {
  content: "\e627";
}

.icon-jinggao:before {
  content: "\e620";
}

.icon-cuowukongxin:before {
  content: "\ed1a";
}

.icon-tipsvip:before {
  content: "\e64f";
}

.icon-31liebiao:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e665";
}

.icon-biaodanzujian-biaoge:before {
  content: "\ec15";
}

.icon-yinyong:before {
  content: "\e6f4";
}

.icon-lianjie:before {
  content: "\eadc";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-yulan:before {
  content: "\e660";
}

.icon-daxie:before {
  content: "\e601";
}

.icon-xiaoxie:before {
  content: "\e603";
}

.icon-h:before {
  content: "\e61a";
}

.icon-h1:before {
  content: "\e61b";
}

.icon-h2:before {
  content: "\e61c";
}

.icon-hr:before {
  content: "\e60a";
}

.icon-strikethrough:before {
  content: "\e611";
}

.icon-orderedList:before {
  content: "\e612";
}

.icon-h6:before {
  content: "\e61d";
}

.icon-italic:before {
  content: "\e61e";
}

.icon-h11:before {
  content: "\e623";
}

.icon-h3:before {
  content: "\e61f";
}

