@font-face {
  font-family: "iconfont"; /* Project id 3975977 */
  src: url('https://at.alicdn.com/t/c/font_3975977_isscicrrga.woff2?t=1693811086512') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3975977_isscicrrga.woff?t=1693811086512') format('woff'),
       url('https://at.alicdn.com/t/c/font_3975977_isscicrrga.ttf?t=1693811086512') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuozhuaicaidandaohang:before {
  content: "\e79e";
}

.icon-fuzhi1:before {
  content: "\e867";
}

.icon-xiugai:before {
  content: "\e607";
}

.icon-jiaocheng:before {
  content: "\e72e";
}

.icon-vitejs:before {
  content: "\e627";
}

.icon-renren:before {
  content: "\e615";
}

.icon-file-markdown:before {
  content: "\e7b8";
}

.icon-jishu:before {
  content: "\e609";
}

.icon-ECharts:before {
  content: "\e750";
}

.icon-fuzhi:before {
  content: "\e6e6";
}

.icon-qiyerenzheng:before {
  content: "\e605";
}

.icon-huiyuan:before {
  content: "\e715";
}

.icon-qiyehuiyuan:before {
  content: "\e636";
}

.icon-weixin:before {
  content: "\e63d";
}

.icon-youxiang1:before {
  content: "\e602";
}

.icon-shijian1:before {
  content: "\e626";
}

.icon-jiahao:before {
  content: "\e614";
}

.icon-shuaxin:before {
  content: "\e639";
}

.icon-subscribe-1-copy:before {
  content: "\e606";
}

.icon-shangchuan1:before {
  content: "\e616";
}

.icon-shangchuan:before {
  content: "\ed1c";
}

.icon-a-3Dtubiao-19:before {
  content: "\e720";
}

.icon-Iconfont:before {
  content: "\e716";
}

.icon-SVGtubiao:before {
  content: "\e642";
}

.icon-yingyongchangjingshenhe:before {
  content: "\e7e2";
}

.icon-jiandanyiyong:before {
  content: "\e601";
}

.icon-tupianjihe:before {
  content: "\e613";
}

.icon-guanbianniu:before {
  content: "\e648";
}

.icon-juanzeng-:before {
  content: "\e60b";
}

.icon-gonggao:before {
  content: "\e60f";
}

.icon-shanchu:before {
  content: "\e649";
}

.icon-24px:before {
  content: "\e604";
}

.icon-kuaijieyingyon:before {
  content: "\e67b";
}

.icon-ziyuanxhdpi:before {
  content: "\e62d";
}

.icon-icon:before {
  content: "\e656";
}

.icon-xiangmu:before {
  content: "\e911";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

